/* p, body, h1, #, . и многие другие 
это селекторы в css для того чтобы 
выделить определенный участок веб страницы,
который мы хотим видоизменить*/
p {
	background: white;

}

body {

	background:  ;
}

h1 {
	background: ;

#block {
	background: ;
}

#block2 .text {
	background: ;
}

.text2 {
	background: ;
}