/* p, body, h1, #, . и многие другие 
это селекторы в css для того чтобы 
выделить определенный участок веб страницы,
который мы хотим видоизменить*/
p {
	background: orange;

}

body {

	background: lightblue;
}

h1 {
	background: blanchedalmond;
}

#block {
	background: ghostwhite;
}

#block2 .text {
	background: sandybrown;
}

.text2 {
	background: rebeccapurple;
}