/* p, body, h1, #, . и многие другие 
это селекторы в css для того чтобы 
выделить определенный участок веб страницы,
который мы хотим видоизменить*/
p {
	background: orange;

}

body {

	background: lightblue;
}

h1 {
	background: grey;
}

#block {
	background: green;
}

#block2 .text {
	background: silver;
}

.text2 {
	background: yellow;
}