/* p, body, h1, #, . и многие другие 
это селекторы в css для того чтобы 
выделить определенный участок веб страницы,
который мы хотим видоизменить*/
p {
	background: cornflowerblue;

}

body {

	background: lightblue;
}

h1 {
	background: seagreen;
}

#block {
	background: bisque;
}

#block2 .text {
	background: darkolivegreen;
}

.text2 {
	background: white;
}